# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-backend-admin @pagopa/io-backend-contributors

/src/domains/sign @pagopa/io-backend-admin @pagopa/io-backend-contributors @pagopa/io-sign-maintainers

# engineering-team-cloud-eng

/.github @pagopa/engineering-team-cloud-eng
/.identity @pagopa/engineering-team-cloud-eng
/src/core @pagopa/engineering-team-cloud-eng
/src/domains @pagopa/engineering-team-cloud-eng
/src/domains/citizen-auth-app @pagopa/engineering-team-cloud-eng @pagopa/io-backend-admin @pagopa/io-backend-contributors
/src/domains/citizen-auth-common @pagopa/engineering-team-cloud-eng @pagopa/io-backend-admin @pagopa/io-backend-contributors
/src/domains/ioweb-app @pagopa/engineering-team-cloud-eng @pagopa/io-backend-admin @pagopa/io-backend-contributors
/src/domains/ioweb-common @pagopa/engineering-team-cloud-eng @pagopa/io-backend-admin @pagopa/io-backend-contributors
/src/github-runner @pagopa/engineering-team-cloud-eng
