# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-platform-contributors

/src/domains @pagopa/io-backend-admin @pagopa/io-backend-contributors
/src/domains/sign @pagopa/io-backend-admin @pagopa/io-backend-contributors

/src/repository @pagopa/io-backend-admin
