# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

- @pagopa/engineering-team-cloud-eng

/src/common @pagopa/engineering-team-cloud-eng @pagopa/io-backend-admin @pagopa/io-backend-contributors

/src/domains @pagopa/engineering-team-cloud-eng @pagopa/io-backend-admin @pagopa/io-backend-contributors
/src/domains/sign @pagopa/engineering-team-cloud-eng @pagopa/io-backend-admin @pagopa/io-backend-contributors @pagopa/io-sign-maintainers

/src/repository @pagopa/engineering-team-cloud-eng @pagopa/io-backend-admin
