pr:
  autoCancel: false # prevent terraform state lock on new commits
  branches:
    include:
      - main
  paths:
    include:
      - 'src/*'
      - '.devops/*'
    exclude:
      - 'src/k8s/*'

parameters:
  - name: 'PROD'
    displayName: 'Run on PROD environment'
    type: boolean
    default: True
    values:
      - False
      - True

variables:
  TIME_OUT: 5

pool:
  vmImage: 'ubuntu-20.04'

resources:
  repositories:
    - repository: terraform
      type: github
      name: pagopa/azure-pipeline-templates
      ref: refs/tags/v17
      endpoint: 'io-azure-devops-github-ro'

stages:
  - stage: PROD
    dependsOn: []
    condition: and(succeeded(), eq(${{parameters.PROD}}, true))
    pool:
      name: io-prod-linux
    jobs:
      - job: terraform_install
        steps:
          # 1. Install terraform and terragrunt
          - template: templates/terraform-setup/template.yaml@terraform
      - job: terraform_plan
        dependsOn: terraform_install
        timeoutInMinutes: $[variables.TIME_OUT]
        steps:
          - checkout: self
          # 2. Run terragrunt plan
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              SUBSCRIPTION: PROD-IO-SERVICE-CONN
              ENVIRONMENT: prod
              WORKINGDIR: 'src/core'
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              SUBSCRIPTION: PROD-IO-SERVICE-CONN
              ENVIRONMENT: prod
              WORKINGDIR: 'src/sign'
      - job: validate_migration
        steps:
          - checkout: self
          - task: AzureCLI@2
            displayName: validate migration data on subscription-migrations
            inputs:
              azureSubscription: PROD-IO-SERVICE-CONN
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              failOnStandardError: false
              inlineScript: |
                set -e
                cd src/psql/selfcare/subscription-migrations
                echo "Validating migrations"
                ./flyway.sh validate PROD-IO db -ignorePendingMigrations=true && echo "Validation successful" || { echo "Validation failed"; exit 1; }
                ./flyway.sh info PROD-IO db && echo "Info successful" || { echo "Info failed"; exit 1; }
