pr:
  autoCancel: false # prevent terraform state lock on new commits
  branches:
    include:
      - main
  paths:
    include:
      - "src/core/*"
      - "src/psql/*"
      - ".devops/core-code-review-pipelines.yml"
    exclude:
      - '**/*.lock.hcl'

parameters:
  - name: "PROD"
    displayName: "Run on PROD environment"
    type: boolean
    default: True
    values:
      - False
      - True

variables:
  TIME_OUT: 30

pool:
  vmImage: "ubuntu-20.04"

resources:
  repositories:
    - repository: terraform
      type: github
      name: pagopa/azure-pipeline-templates
      ref: refs/tags/v2.4.0
      endpoint: 'io-azure-devops-github-ro'

stages:
  - stage: PROD_CORE
    dependsOn: []
    condition: eq(${{parameters.PROD}}, true)
    pool:
      name: io-prod-linux
    jobs:
      - job: terraform_plan
        timeoutInMinutes: $[variables.TIME_OUT]
        steps:
          - script: |
              az extension add --name account
              az extension add --name aks-preview
              az extension add --name azure-devops
              az extension add --name containerapp
              az extension add --name storage-preview
              export TF_LOG_PROVIDER="DEBUG"
            displayName: 'Install az extension'
          # 1. Install terraform
          - template: templates/terraform-setup/template.yaml@terraform
          # 2. Run terragrunt plan
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              AZURE_SERVICE_CONNECTION_NAME: PROD-IO-SERVICE-CONN
              ENVIRONMENT: prod
              WORKINGDIR: "src/core"
