# only manual
trigger: none
pr: none

parameters:
  - name: 'PROD'
    displayName: 'Run on PROD environment'
    type: boolean
    default: True
    values:
      - False
      - True
  - name: 'CORE'
    displayName: 'Run on core domain'
    type: boolean
    default: True
    values:
      - False
      - True
  - name: 'SIGN'
    displayName: 'Run on sign domain'
    type: boolean
    default: True
    values:
      - False
      - True
  - name: 'REMINDER'
    displayName: 'Run on reminder domain'
    type: boolean
    default: True
    values:
      - False
      - True
  - name: 'AKS'
    displayName: 'Run on aks domain'
    type: boolean
    default: True
    values:
      - False
      - True

variables:
  TIME_OUT: 5

pool:
  vmImage: 'ubuntu-20.04'

resources:
  repositories:
    - repository: terraform
      type: github
      name: pagopa/azure-pipeline-templates
      ref: refs/tags/v17
      endpoint: 'io-azure-devops-github-ro'

stages:
  # PROD_CORE
  - stage: plan_PROD_CORE
    dependsOn: []
    condition: and(eq(${{parameters.CORE}}, true), eq(${{parameters.PROD}}, true))
    pool:
      name: io-prod-linux
    jobs:
      - job: plan
        timeoutInMinutes: $[variables.TIME_OUT]
        steps:
          # 1. Install terraform
          - template: templates/terraform-setup/template.yaml@terraform
          # 2. Run terraform plan
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              SUBSCRIPTION: PROD-IO-SERVICE-CONN
              ENVIRONMENT: prod
              WORKINGDIR: 'src/core'
          - task: AzureCLI@2
            displayName: validate migration data on subscription-migrations
            inputs:
              azureSubscription: PROD-IO-SERVICE-CONN
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              failOnStandardError: false
              inlineScript: |
                set -e
                cd src/psql/selfcare/subscription-migrations
                echo "Validating migrations"
                ./flyway.sh validate PROD-IO db -ignorePendingMigrations=true && echo "Validation successful" || { echo "Validation failed"; exit 1; }
                ./flyway.sh info PROD-IO db && echo "Info successful" || { echo "Info failed"; exit 1; }

  - stage: apply_PROD_CORE
    dependsOn: [plan_PROD_CORE]
    condition: and(eq(${{parameters.CORE}}, true), eq(${{parameters.PROD}}, true))
    pool:
      name: io-prod-linux
    jobs:
      - deployment: apply
        continueOnError: false
        environment: 'PROD'
        strategy:
          runOnce:
            deploy:
              steps:
                # 1. Install terraform
                - template: templates/terraform-setup/template.yaml@terraform
                # 2. Run terraform apply
                - template: templates/terraform-apply/template.yaml@terraform
                  parameters:
                    SUBSCRIPTION: PROD-IO-SERVICE-CONN
                    ENVIRONMENT: prod
                    WORKINGDIR: 'src/core'
      - deployment: migrate
        continueOnError: false
        dependsOn: apply
        environment: 'PROD'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureCLI@2
                  displayName: migrate data on subscription-migrations
                  inputs:
                    azureSubscription: PROD-IO-SERVICE-CONN
                    scriptType: 'bash'
                    scriptLocation: 'inlineScript'
                    failOnStandardError: false
                    inlineScript: |
                      set -e
                      cd src/psql/selfcare/subscription-migrations
                      echo "Executing migrations"
                      ./flyway.sh migrate PROD-IO db && echo "Migration successful" || { echo "Migration failed"; exit 1; }

  # PROD_AKS
  - stage: plan_PROD_AKS
    dependsOn: []
    condition: and(eq(${{parameters.AKS}}, true), eq(${{parameters.PROD}}, true))
    pool:
      name: io-prod-linux
    jobs:
      - job: plan
        timeoutInMinutes: $[variables.TIME_OUT]
        steps:
          # 1. Install terraform
          - template: templates/terraform-setup/template.yaml@terraform
          # 2. Run terraform plan
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              SUBSCRIPTION: PROD-IO-SERVICE-CONN
              ENVIRONMENT: beta-weu
              WORKINGDIR: 'src/aks'
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              SUBSCRIPTION: PROD-IO-SERVICE-CONN
              ENVIRONMENT: prod-weu-01
              WORKINGDIR: 'src/aks'
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              SUBSCRIPTION: PROD-IO-SERVICE-CONN
              ENVIRONMENT: prod-weu-02
              WORKINGDIR: 'src/aks'

  - stage: apply_PROD_AKS
    dependsOn: [plan_PROD_AKS]
    condition: and(eq(${{parameters.AKS}}, true), eq(${{parameters.PROD}}, true))
    pool:
      name: io-prod-linux
    jobs:
      - deployment: apply
        continueOnError: false
        environment: 'PROD'
        strategy:
          runOnce:
            deploy:
              steps:
                # 1. Install terraform
                - template: templates/terraform-setup/template.yaml@terraform
                # 2. Run terraform apply
                - template: templates/terraform-apply/template.yaml@terraform
                  parameters:
                    SUBSCRIPTION: PROD-IO-SERVICE-CONN
                    ENVIRONMENT: beta-weu
                    WORKINGDIR: 'src/aks'
                - template: templates/terraform-apply/template.yaml@terraform
                  parameters:
                    SUBSCRIPTION: PROD-IO-SERVICE-CONN
                    ENVIRONMENT: prod-weu-01
                    WORKINGDIR: 'src/aks'
                - template: templates/terraform-apply/template.yaml@terraform
                  parameters:
                    SUBSCRIPTION: PROD-IO-SERVICE-CONN
                    ENVIRONMENT: prod-weu-02
                    WORKINGDIR: 'src/aks'

  # PROD_SIGN
  - stage: plan_PROD_SIGN
    dependsOn: []
    condition: and(eq(${{parameters.SIGN}}, true), eq(${{parameters.PROD}}, true))
    pool:
      name: io-prod-linux
    jobs:
      - job: plan
        timeoutInMinutes: $[variables.TIME_OUT]
        steps:
          # 1. Install terraform
          - template: templates/terraform-setup/template.yaml@terraform
          # 2. Run terraform plan
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              SUBSCRIPTION: PROD-IO-SIGN-SERVICE-CONN
              ENVIRONMENT: prod
              WORKINGDIR: 'src/sign'

  - stage: apply_PROD_SIGN
    dependsOn: [plan_PROD_SIGN]
    condition: and(eq(${{parameters.SIGN}}, true), eq(${{parameters.PROD}}, true))
    pool:
      name: io-prod-linux
    jobs:
      - deployment: apply
        continueOnError: false
        environment: 'PROD-SIGN'
        strategy:
          runOnce:
            deploy:
              steps:
                # 1. Install terraform
                - template: templates/terraform-setup/template.yaml@terraform
                # 2. Run terraform apply
                - template: templates/terraform-apply/template.yaml@terraform
                  parameters:
                    SUBSCRIPTION: PROD-IO-SIGN-SERVICE-CONN
                    ENVIRONMENT: prod
                    WORKINGDIR: 'src/sign'

  # PROD_REMINDER
  - stage: plan_PROD_REMINDER
    dependsOn: []
    condition: and(eq(${{parameters.REMINDER}}, true), eq(${{parameters.PROD}}, true))
    pool:
      name: io-prod-linux
    jobs:
      - job: plan
        timeoutInMinutes: $[variables.TIME_OUT]
        steps:
          # 1. Install terraform
          - template: templates/terraform-setup/template.yaml@terraform
          # 2. Run terraform plan
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              SUBSCRIPTION: PROD-IO-REMINDER-SERVICE-CONN
              ENVIRONMENT: prod
              WORKINGDIR: 'src/reminder'

  - stage: apply_PROD_REMINDER
    dependsOn: [plan_PROD_REMINDER]
    condition: and(eq(${{parameters.REMINDER}}, true), eq(${{parameters.PROD}}, true))
    pool:
      name: io-prod-linux
    jobs:
      - deployment: apply
        continueOnError: false
        environment: 'PROD-REMINDER'
        strategy:
          runOnce:
            deploy:
              steps:
                # 1. Install terraform
                - template: templates/terraform-setup/template.yaml@terraform
                # 2. Run terraform apply
                - template: templates/terraform-apply/template.yaml@terraform
                  parameters:
                    SUBSCRIPTION: PROD-IO-REMINDER-SERVICE-CONN
                    ENVIRONMENT: prod
                    WORKINGDIR: 'src/reminder'
