pr:
  autoCancel: false
  branches:
    include:
      - main
  paths:
    include:
      - 'src/domains/idpay-app'
      - 'src/domains/idpay-common'

parameters:
  - name: 'DEV'
    displayName: 'Run on DEV environment'
    type: boolean
    default: True
    values:
      - False
      - True
  # - name: 'UAT'
  #   displayName: 'Run on UAT environment'
  #   type: boolean
  #   default: True
  #   values:
  #     - False
  #     - True
  # - name: 'PROD'
  #   displayName: 'Run on PROD environment'
  #   type: boolean
  #   default: True
  #   values:
  #     - False
  #     - True

variables:
  TIME_OUT: 10
  DEV01_AKS_APISERVER_URL: '$(TF_DEV01_AKS_APISERVER_URL)'
  DEV01_AKS_AZURE_DEVOPS_SA_CACRT: '$(TF_DEV01_AKS_AZURE_DEVOPS_SA_CACRT)'
  DEV01_AKS_AZURE_DEVOPS_SA_TOKEN: '$(TF_DEV01_AKS_AZURE_DEVOPS_SA_TOKEN)'
  AKS_DEV_NAME: '$(TF_AKS_DEV_NAME)'

pool:
  vmImage: 'ubuntu-20.04'

resources:
  repositories:
    - repository: terraform
      type: github
      name: pagopa/azure-pipeline-templates
      ref: refs/tags/v2.4.0
      endpoint: 'io-azure-devops-github-ro'

stages:
  - stage: tf_plan_common
    dependsOn: []
    condition: and(succeeded(), eq(${{parameters.DEV}}, true))
    pool:
      name: cstar-dev-linux
    jobs:
      - job: tf_plan_idpay_common
        strategy:
          parallel: 1
        timeoutInMinutes: $[variables.TIME_OUT]
        steps:
          - checkout: self
          # 1. Install terraform and terragrunt
          - template: templates/terraform-setup/template.yaml@terraform
          # 2. Run terraform plan idpay-common
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              ENVIRONMENT: "dev"
              WORKINGDIR: 'src/domains/idpay-common'
              AZURE_SERVICE_CONNECTION_NAME: DEV-CSTAR-SERVICE-CONN

  - stage: tf_plan_app
    dependsOn: [tf_plan_common]
    condition: and(succeeded(), eq(${{parameters.DEV}}, true))
    pool:
      name: cstar-dev-linux
    jobs:
      - job: tf_plan_idpay_app
        timeoutInMinutes: $[variables.TIME_OUT]
        strategy:
          parallel: 1
        steps:
          - checkout: self
          # 1. Install terraform and terragrunt
          - template: templates/terraform-setup/template.yaml@terraform
          # Run terraform plan idpay-app
          - template: templates/terraform-plan/template.yaml@terraform
            parameters:
              ENVIRONMENT: "dev"
              WORKINGDIR: 'src/domains/idpay-app'
              AZURE_SERVICE_CONNECTION_NAME: DEV-CSTAR-SERVICE-CONN
              AKS_NAME: ${{ variables.AKS_DEV_NAME }}
              AKS_API_SERVER_URL: ${{ variables.DEV01_AKS_APISERVER_URL }}
              AKS_AZURE_DEVOPS_SA_CA_CRT: ${{ variables.DEV01_AKS_AZURE_DEVOPS_SA_CACRT }}
              AKS_AZURE_DEVOPS_SA_TOKEN: ${{ variables.DEV01_AKS_AZURE_DEVOPS_SA_TOKEN }}

  # - stage: UAT
  #   dependsOn: []
  #   condition: and(succeeded(), eq(${{parameters.UAT}}, true))
  #   pool:
  #     name: cstar-uat-linux
  #   jobs:
  #     - job: tf_install
  #       steps:
  #         # 1. Install terraform and terragrunt
  #         - template: templates/terraform-setup/template.yaml@terraform
  #     - job: tf_plan
  #       dependsOn: tf_install
  #       timeoutInMinutes: $[variables.TIME_OUT]
  #       steps:
  #         - checkout: self
  #         # 2. Run terragrunt plan
  #         - template: templates/terraform-plan/template.yaml@terraform
  #           parameters:
  #             AZURE_SERVICE_CONNECTION_NAME: UAT-CSTAR-SERVICE-CONN
  #             ENVIRONMENT: uat

  # - stage: PROD
  #   dependsOn: []
  #   condition: and(succeeded(), eq(${{parameters.PROD}}, true))
  #   pool:
  #     name: cstar-prod-linux
  #   jobs:
  #     - job: tf_install
  #       steps:
  #         # 1. Install terraform and terragrunt
  #         - template: templates/terraform-setup/template.yaml@terraform
  #     - job: tf_plan
  #       dependsOn: tf_install
  #       timeoutInMinutes: $[variables.TIME_OUT]
  #       steps:
  #         - checkout: self
  #         # 2. Run terragrunt plan
  #         - template: templates/terraform-plan/template.yaml@terraform
  #           parameters:
  #             AZURE_SERVICE_CONNECTION_NAME: PROD-CSTAR-SERVICE-CONN
  #             ENVIRONMENT: prod
