swagger: '2.0'
info:
  version: 0.0.1
  title: IO API for service Messages
  contact:
    name: PagoPA
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    # Warning

    **This is an experimental API that is (most probably) going to change as we
    evolve the IO platform.**

    # Introduction

    This is the documentation of the IO API for App.
host: api.cd.italia.it
basePath: /service-messages/api/v1
schemes:
  - https
security:
  - SubscriptionKey: []
paths:
  /notify:
    post:
      operationId: notify
      summary: Notify a user
      description: Post the notification to the user using a push notification.
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/NotificationInfo'
      responses:
        '204':
          description: Success.
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ProblemJson'
        '401':
          description: Token null or invalid.
        '500':
          description: There was an error in forwarding the notification.
          schema:
            $ref: '#/definitions/ProblemJson'
consumes:
  - application/json
produces:
  - application/json
definitions:
  NotificationType:
    type: string
    x-extensible-enum:
      - MESSAGE
      - REMINDER_READ
      - REMINDER_PAYMENT
      - REMINDER_PAYMENT_LAST
  NotificationInfo:
    type: object
    properties:
      notification_type:
        $ref: '#/definitions/NotificationType'
      fiscal_code:
        type: string
        description: User's fiscal code.
        format: FiscalCode
        x-import: '@pagopa/ts-commons/lib/strings'
        example: SPNDNL80R13C555X
      message_id:
        type: string
        minLength: 1
    required:
      - notification_type
      - fiscal_code
      - message_id
  ProblemJson:
    type: object
    properties:
      type:
        type: string
        format: uri
        description: |-
          An absolute URI that identifies the problem type. When dereferenced,
          it SHOULD provide human-readable documentation for the problem type
          (e.g., using HTML).
        default: about:blank
        example: https://example.com/problem/constraint-violation
      title:
        type: string
        description: |-
          A short, summary of the problem type. Written in english and readable
          for engineers (usually not suited for non technical stakeholders and
          not localized); example: Service Unavailable
      status:
        type: integer
        format: int32
        description: >-
          The HTTP status code generated by the origin server for this
          occurrence

          of the problem.
        minimum: 100
        maximum: 600
        exclusiveMaximum: true
        example: 200
      detail:
        type: string
        description: |-
          A human readable explanation specific to this occurrence of the
          problem.
        example: There was an error processing the request
      instance:
        type: string
        format: uri
        description: >-
          An absolute URI that identifies the specific occurrence of the
          problem.

          It may or may not yield further information if dereferenced.
securityDefinitions:
  SubscriptionKey:
    type: apiKey
    name: X-Functions-Key
    in: header
    description: The API key obtained through the developer portal.
