name: Continuous Delivery on selfcare

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "src/domains/selfcare/**"

jobs:
  release_prod:
    uses: pagopa/dx/.github/workflows/infra_apply.yaml@main
    name: Terraform Apply
    secrets: inherit
    with:
      environment: prod/westeurope
      override_github_environment: prod
      base_path: "src/domains/selfcare"
      use_private_agent: true
