name: Continuous Integration on selfcare

on:
  merge_group:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - "src/domains/selfcare/**"
      - ".github/workflows/selfcare_**"

jobs:
  code_review_prod:
    uses: pagopa/dx/.github/workflows/infra_plan.yaml@main
    name: Terraform Plan
    secrets: inherit
    with:
      environment: prod/westeurope
      override_github_environment: prod
      base_path: "src/domains/selfcare"
      use_private_agent: true
