name: Continuous Delivery on prod ioweb

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "src/domains/ioweb**"
      - ".github/workflows/ioweb_prod**"

jobs:
  deploy_common:
    uses: pagopa/dx/.github/workflows/release-terraform-legacy-v1.yaml@main
    name: Deploy Common
    secrets: inherit
    with:
      dir: "src/domains/ioweb-common"
      azure_environment: prod
      environment: prod
      use_private_agent: true

  deploy_app:
    needs: [deploy_common]
    uses: pagopa/dx/.github/workflows/release-terraform-legacy-v1.yaml@main
    name: Deploy App
    secrets: inherit
    with:
      dir: "src/domains/ioweb-app"
      azure_environment: weu-prod01
      environment: prod
      use_private_agent: true
