name: Continuous Delivery on prod citizen-auth

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "src/domains/citizen-auth**"
      - ".github/workflows/prod**citizen-auth.yml"
      - "src/_modules/test_users/**"

jobs:
  deploy_common:
    uses: pagopa/dx/.github/workflows/release-terraform-legacy-v1.yaml@main
    name: Deploy Common
    secrets: inherit
    with:
      dir: "src/domains/citizen-auth-common"
      azure_environment: prod
      environment: prod
      use_private_agent: true

  deploy_app:
    needs: [deploy_common]
    uses: pagopa/dx/.github/workflows/release-terraform-legacy-v1.yaml@main
    name: Deploy App
    secrets: inherit
    with:
      dir: "src/domains/citizen-auth-app"
      azure_environment: weu-prod01
      environment: prod
      use_private_agent: true
